<div *ngFor="let group of contactBookForm.controls;">
  <form [formGroup]="group">
    <input type="text" formControlName="name" placeholder="Contact name"/>
    <input type="text" formControlName="number" placeholder="Enter number"/>
  </form>
</div>
<button (click)="addMore()">Next Contact?</button>
<button (click)="save()">Save!</button>
<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Action</th>
  </tr>
<tr *ngFor="let contact of contactBook;" class="contact">
  <td>{{contact.name}}</td>
  <td>{{contact.number}}<td>
  <td><button (click)="remove(contact)">Kill!</button></td>
  </tr>
</table>